body {
    font-family: Verdana, Roboto, sans-serif;
    color: #FFF;
    background-color: #3B6939;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 57px;
    font-weight: 400;
    margin: 50px 0;
}

.result {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

.computer-player {
    display: flex;
    gap: 5vw;
}

.computer,
.player{
    width: 450px;
    height: 170px;
    background-color: #D5E8CE;
    border-radius: 10px;
    padding: 20px;
}

.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.computer > .title {
    color: #111F0F;
}

.computer-selection {
    font-size: 100px;
    user-select: none;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.player > .title {
    color: #111F0F;
}

.player-selection {
    font-size: 100px;

    display: flex;
    gap: 5px;
}

.rock,
.paper,
.scissors{
    width: 130px;
    height: 130px;
    text-align: center;
    border-radius: 10px;
    user-select: none;
}

.rock:hover,
.paper:hover,
.scissors:hover{
    background-color: #F7FBF1;
    cursor: pointer;
}

.rock:focus,
.paper:focus,
.scissors:focus{
    background-color: #F7FBF1;
    border: 3px solid #111F0F;
}